<!DOCTYPE html>
<title>New Article</title>
<form action="/articles" method="post">
  <p>Article Title: <input type="text" name="title"></p>
  <p>Content: <input type="text" name="content"></p>
  <input type="submit" name="submit" id="submit">
</form>